<!DOCTYPE html>
<html>

<head>
    <title>Text classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="processor">
            <form action="/text_classifier" method="POST">
                <div class="mb-3">
                    <label for="text" class="form-label">Enter your text:</label>
                    <textarea class="form-control" id="text" name="text" rows="5"
                        placeholder="Enter your text here...">{{ text }}</textarea>
                </div>
                <div class="process_button">
                    <button type="submit" class="btn btn-primary float-end">Process</button>
                </div>
            </form>
            {%if results%}
            <div class="processor_results">
                <h5>Time Taken:  {{time}}s</h5>
                <h5>Predicted Category:  <span class="badge bg-primary">{{results['predicted_category']|capitalize  }}</span></h5>
                <h5>Predicted Probabilities: </h5>
                <p class="classification_img"><img alt="static/classification.png" src="{{ url_for('static', filename='classification.png') }}"/>
            </div>
            {%endif%}
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>